.ali{
    margin: 10px;
    margin: 10px 20px;
    margin: -10px -10px -20px -50px;
    padding: 10px;
    color: 10px;
    margin: 10vw;
    margin: 10% 30em 25ex;
    line-height: 2;
    font-weight: 400;
    font-family: serif;
    font-style: 10px;
    font-size: large;
}