body {
  margin: 0;
  padding: 1vw;
  font-family: sans-serif;
}

.all-books h1 {
  text-align: center;
}

.listShow {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.horizontal-line1 {
  width: 30vw;
  margin-top: 5vh;
}

/* section: add book */
.add-books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-book {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.title,
.author {
  width: 60vw;
  height: 25px;
}

.add {
  align-self: flex-end;
}

.grey-background {
  background-color: #ddd;
}

.hide {
  display: none;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw;
}

.remove-button {
  border: solid black;
  box-shadow: 2px 2px black;
}

@media screen and (min-width: 768px) {
  .title,
  .author {
    width: 30vw;
  }

  body {
    padding: 0 5vw;
  }
}
